@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-link {
  @apply relative no-underline tracking-wide text-white;

  &::after {
    content: "";
    @apply absolute bg-[#EAEAEA];
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
  }

  &:hover {
    @apply text-[#dfdfdf];
  }

  &:hover::after {
    width: 100%;
  }
}

.background {
  background-image: url(../Images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.nwa {
  background-image: url(../Images/img.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

html{
    scroll-behavior: smooth;
}

 .peter{
  background-color: red;
}

.nav{
  height: 0;
  transition: height 0.5s ease;
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: red;
} 

/* li{
  list-style: none;
} */
.nav li a{
  display: block;
  color: white;
  text-align: center;
  margin: 6px 0;
  height: 10%;
  padding: 14px;
  width: 100%;
}

.show-nav{
  background-color: red;
} 

.favorite-icon {
  width: 20px; /* Adjust size as needed */
  cursor: pointer;
  filter: grayscale(100%); /* Default state: grayscale */
  transition: background-color 0.3s ease;
}

.all::-webkit-scrollbar {
  display: none;
}

.favorite-icon.favorited {
  background-color: red; /* Favorited state: original color */
}

.text {
  font-family: Playfair Display;
}

.papa {
  backdrop-filter: blur(200px);
}

.nnedi {
  backdrop-filter: blur(40px);
}

/* @media screen and (max-width: 600px){
  .nav li a{
    @apply flex;
  }
} */
